$yellow: #FFF3BC;
$tan: #C9C7BE;
$white: #FFFFFF;

$test: red;
$input: $white;
$output: $yellow;
$background: none;

$main_font: 'Verdana', sans-serif;
$header_font: 'Georgia', serif;

$default_size: 1em;


@mixin array_ul($position) {
	@if ($position == before) {
		content: "[";
    	margin-left: 6px;
	}
	@else {
		content: "]";
		margin-right: 6px;
	}

}

@mixin input_output($type) {
	background: $type;
	width: inherit;
	min-height: 100px;
	border-radius: 10px;
	margin: 20px auto;
	padding: 20px;
	h3 {
		font-family: $main_font;
		text-decoration: underline;
		font-weight: normal;
		margin-bottom: 10px;
		font-size: $default_size;
	}
}

@mixin hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $tan;
    margin: 0;
    padding: 0;
}