@import "_utilities.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	background: $background;
}

p, li {
	font-family: $main_font;
	font-size: $default_size;
	a {
		text-decoration: underline;
	}
}

header {
	width: 100%;
	padding: 20px 10%;
	h1{
		font-family: $main_font;
		font-size: 5vh;
	}
	h2 {
		font-family: $header_font;
		font-style: italic;
		font-size: .75em;
	}
}

hr {
	@include hr;
}

#container {
	width: 80%;
	margin: 0 auto;
}

.array {
	display: inline;
	li {
		display: inline;
		list-style-type: none;
	}
	&:before {
		@include array_ul(before)
	}
	&:after {
		@include array_ul(after)
	}
}

#input {
	@include input_output($input)
}

#output {
	@include input_output($output);
	ul li {
		list-style-type: none;
	}
}